/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
  @font-face {
    font-family:"8bit";
    src: url('../8bit.ttf') format('truetype');
  }

.page-title {
  font-size: 12em;
}

.container-page-title {
  height: 10em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-button {
  height: 10em;
}

 body {
  position: relative;
  color: white;
  background: black;
  font-family: '8bit';
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button:focus {
  outline:none;
}

.home-button {
  font-size: 12em;
  font-family: '8bit';
  color: white;
  background: black;
  border: none;
  padding: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}
